* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  text-align: center;
}

hr {
  margin: 2rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
  width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
}

.logoColumbus img {
  width: 100%;
}

header p {
  text-align: center;
}

.data__form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.inp-position {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  align-items: center;
}

.text-fiscal-year {
  margin-top: 1rem;
}

.signature {
  margin-bottom: 2rem;
}

p {
  text-align: justify;
}

@media (min-width: 762px) {
  .data__form {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .inp-position {
    display: flex;
    padding: 0.4rem;
    align-items: center;
  }
}
