* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  text-align: center;
}

hr {
  margin: 2rem;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"] {
  width: 80%;
  padding: 0.5rem;
  border-radius: 1rem;
}

.logoColumbus img {
  width: 100%;
}

header p {
  text-align: center;
}

.data__form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.inp-position {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  align-items: center;
}

.depedencies__data h3 {
  padding: 1rem 0;
}

.depen {
  padding: 1rem 0;
}

.text-fiscal-year {
  margin: 2rem 0;
}

.signature {
  margin-bottom: 2rem;
}

p {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

.btn {
  margin-top: 1rem;
  border: none;
  background-color: aqua;
  padding: 2rem;
  color: #fff;
  border-radius: 2rem;
  text-transform: uppercase;
  width: 10rem;
  margin: 0 auto;
}

footer {
  margin-top: 4rem;
}

@media (min-width: 762px) {
  .data__form {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
  .inp-position {
    display: flex;
    padding: 0.4rem;
    align-items: center;
  }
  .order__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .depedencies__data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .depedencies__data :nth-child(1) {
    grid-column: 1/2;
  }
  .depedencies__data :nth-child(2) {
    grid-column: 2/3;
  }
  .depedencies__data :nth-child(3) {
    grid-column: 3/4;
  }
  .balance__main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .signature {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
